* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.layout-sidebar {
  width: 250px;
  background-color: #1f2937;
  color: white;
  padding: 0 20px;
  transition: width 0.3s ease;
}

.layout-sidebar h2 {
  margin-bottom: 30px;
}

.layout-sidebar a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-radius: 8px;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.layout-sidebar a:hover,
.layout-sidebar a.active {
  background-color: #2563eb;
  color: white;
}

.layout-sidebar i {
  width: 20px;
  text-align: center;
}

/* Collapsed */
.layout.collapsed .layout-sidebar {
  width: 70px;
}

.layout.collapsed .layout-sidebar span,
.layout.collapsed .layout-sidebar h2 {
  display: none;
}


/* Content */
.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Header */
.layout-header {
  background: white;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.05);
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Main */
.layout-main {
  flex: 1;
  padding: 25px;
  background: #f3f4f6;
}
.table-container {
  overflow-x: auto;
  margin-top: 10px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 20px;
}

.dashboard-table thead {
  background-color: #2563eb;
  color: white;
}

.dashboard-table th,
.dashboard-table td {
  padding: 12px 15px;
}

.dashboard-table tbody tr {
  border-bottom: 1px solid #e5e7eb;
  transition: background 0.2s;
}

.dashboard-table tbody tr:hover {
  background-color: #f3f4f6;
}

/* Buttons */
.edit-btn,
.delete-btn {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
}
.edit-btn {
  background-color: #2563eb;
  color: white;
}

.add-btn-new{
  background-color: #10b981;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
  margin: 10px 0 14px 10px;
}
.add-btn-new:hover {
  background-color: #059669;
}

.edit-btn:hover {
  background-color: #1d4ed8;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
}

.delete-btn:hover {
  background-color: #b91c1c;
}

/* Footer */
footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 15px;
}
